.sidebar {
    flex: 0 1 auto;
    width: 150px;
    background-color: #fff;
    height: 100%;
    border-right: 1px solid #ddd;
    ul {
        margin: 0;
        li {
            display: block;
            padding: 10px;
        }
    }
}
