$primary-color: #2e7cff;
$text-color: #333;
$border-color: #ddd;
$white-color: #fff;
* {
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
  font-size: 16px;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: $primary-color;
}
.form-wrap {
  margin: 50px auto;
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  .side-by-side {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
  }
}

form {
  display: block;
  label {
    font-size: 0.8rem;
  }
  input {
    border: 1px solid $border-color;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  select {
    border: 1px solid $border-color;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  button {
    background-color: $primary-color;
    color: $white-color;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    border: 0;
  }
  .form-inline {
    display: flex;
    .formgroup {
      flex: 1 1 auto;
      padding-right: 15px;
      &.inline-button{
        padding-top: 19px;
      }
    }
  }
}
